COOKIES = [{'name': 'sui','value': ''},{'name': 'p','value': ''},{'name': 'remixuacck','value': ''},{'name': 'httoken','value': ''},{'name': 'remixsid','value': ''},{'name': 'remixdmgr_tmp','value': ''},{'name': 'remixdmgr','value': ''},{'name': 'remixuas','value': ''}]